.AdditionalNav {
  padding: 18px;
  padding-top: 9px;
  border-top: 1px solid #d5d8dc;
  border-bottom: 1px solid #d5d8dc;
  background-color: #fbfbfc;
}
.navItem {
  height: 28px;
  padding: 0 20px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-family: var(--main-font) !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
  color: #223354b3;
  cursor: pointer;
  z-index: 99999;
  transform: translateY(3px);
}
.AdditionalItem {
  padding: 27px;
  padding-bottom: 0;
}
.general_textfield {
  width: 49%;
  margin-bottom: 27px !important;
}

.questionIcon {
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
  padding-bottom: 1px;
  transition: all linear 0.2s;
}
.questionIcon_moveToLeft {
  transform: translateX(-45%);
}
.questionIcon:hover {
  background-color: #edf0ff;
}
