.timelineBtn {
  margin-top: 10px;
  width: 125px;
  padding: 6px 16px;
  background-color: #5569ff;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 600;
  font-family: var(--main-font);
  color: white;
  cursor: pointer;
  transition: all linear 0.2s;
}
.timelineBtn:hover {
  background-color: #3a48b3;
}
.businessImg {
  cursor: pointer;
  transition: all linear 0.2s;
}
.businessImg:hover {
  filter: grayscale(50%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
