.right_container {
  height: 89.5vh;
}
.greenDot {
  width: 13.5px;
  height: 13.5px;
  border-radius: 100%;
  background-color: #57ca22;
  transform: translateY(-1px);
}
.draftBtn {
  color: #868baf !important;
  border-color: #868baf !important;
}
.draftBtn:hover {
  border-color: #505369 !important;
}
.drop_file_input {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 309px;
  height: 140px;
  padding: 18px;
  border-radius: 10px;
  border: 1px dashed rgba(34, 51, 84, 0.3);
  transition: all linear 0.2s;
  background-color: #fbfbfc;
}
.drop_file_input input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.drop_file_input_label {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.drop_file_input:hover {
  border-color: #5569ff;
}
.rejectSign,
.acceptSign {
  width: 50px;
  height: 50px;
  background-color: #ff6883;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: var(--main-font);
}
.acceptSign {
  background-color: #01d301;
}
.uploadSuccess {
  border-radius: 10px;
  background-color: rgb(243, 251, 239);
  display: flex;
  padding: 8px 16px;
  color: rgb(54, 86, 40);
  /* color: #94dd72; */
}
