.right_container {
  height: 89.5vh;
}
.greenDot {
  width: 13.5px;
  height: 13.5px;
  border-radius: 100%;
  background-color: #57ca22;
  transform: translateY(-1px);
}
.draftBtn {
  color: #868baf !important;
  border-color: #868baf !important;
}
.draftBtn:hover {
  border-color: #505369 !important;
}
.uploadContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 309px;
  height: 140px;
  padding: 18px;
  border-radius: 10px;
  border: 1px dashed rgba(34, 51, 84, 0.3);
  transition: all linear 0.2s;
}
.uploadContainer:hover {
  border-color: #5569ff;
}
