.prjHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px;
  background-color: #f9fafc;
  box-shadow: rgb(34 51 84 / 10%) 0px 2px 4px -3px,
    rgb(34 51 84 / 5%) 0px 5px 12px -4px;
  z-index: 9999111;
}
.prjBody {
  padding: 36px;
  background-color: #f2f5f9;
}

.newprj {
  width: 960px;
  box-shadow: rgb(255 255 255 / 30%) 0px 5rem 14rem 0px,
    rgb(0 0 0 / 60%) 0px 0.8rem 2.3rem, rgb(0 0 0 / 45%) 0px 0.2rem 0.3rem;
}
.editor {
  margin-bottom: 70px;
  height: 100px;
  width: 75%;
}
.drop_file_input {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 75%;
  height: 140px;
  padding: 18px;
  border-radius: 10px;
  border: 1px dashed rgba(34, 51, 84, 0.3);
  transition: all linear 0.2s;
  background-color: #fbfbfc;
}
.drop_file_input input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.drop_file_input_label {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.drop_file_input:hover {
  border-color: #5569ff;
}
.rejectSign,
.acceptSign,
.cloud {
  width: 50px;
  height: 50px;
  background-color: #ff6883;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: var(--main-font);
}
.acceptSign {
  background-color: #01d301;
}

.uploadSuccess {
  border-radius: 10px;
  background-color: rgb(243, 251, 239);
  display: flex;
  padding: 8px 16px;
  color: rgb(54, 86, 40);
  /* color: #94dd72; */
}
.optionImg {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.createBtn,
.cancelBtn {
  padding: 11px 24px !important;
  text-transform: none !important;
  font-size: 15px !important;
  font-weight: bold !important;
}
.cancelBtn {
  border-color: rgb(147, 151, 172) !important;
  color: rgb(110, 117, 159) !important;
  margin-left: 20px !important;
}
.cancelBtn:hover {
  border-color: #223354 !important;
  color: #223354 !important;
  background-color: rgb(247, 247, 247) !important;
}
.customTextField fieldset {
  border-radius: 10px !important;
  border-color: #d3d3d3;
}
.invalid {
  font-weight: 600;
  font-size: 13px !important;
  color: rgb(255, 25, 67);
}
/* ----- Table ---------- */
.rowItem {
  padding: 16px 0px !important;
}
.statusBox {
  padding: 4.5px 9px;
  font-size: 13px;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-height: 27px;
}
.complete {
  background-color: rgba(87, 202, 34, 0.1);
  color: rgb(87, 202, 34);
}
.notStarted {
  background-color: rgba(255, 25, 67, 0.1);
  color: rgb(255, 25, 67);
}
.inProgress {
  background-color: rgba(51, 194, 255, 0.1);
  color: rgb(51, 194, 255);
}
.icon {
  cursor: pointer;
  color: #5569ff;
  padding: 8px;
  padding-bottom: 2px;
  transition: all linear 0.2s;
  border-radius: 5px;
}

.icon:hover {
  background-color: #e3e8fb;
}
/* Delete Modal */
.deleteModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  border-radius: 10px;
  outline: none !important;
  transition: all linear 0.3s;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 45px;
  height: 428px;
}
.circle {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background-color: #ffe8ec;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.cancelBtn {
  padding: 12px 16px !important;
  color: #5569ff !important;
  border: none !important;
}

.cancelBtn:hover {
  color: #5569ff !important;
  border: none;
  background-color: #edf0ff !important;
}
.deleteBtn {
  text-transform: none !important;
  padding: 11px 27px !important;
  background-color: #ff1943 !important;
  font-size: 15px !important;
  margin-left: 20px !important;
}
.deleteBtn:hover {
  background-color: #c01534 !important;
}
.footer_pagination {
  padding: 18px !important;
}
.bulkButton {
  text-transform: none !important;
  padding: 8px 20px !important;
  background-color: #ff1943 !important;
  font-size: 14px !important;
  margin-left: 10px !important;
}
/* GRID VIEW */
.cardHeader {
  padding: 9px 9px 9px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cardInfo {
  padding: 18px;
}
.separate {
  width: 100%;
  height: 1px;
  background-color: rgba(34, 51, 84, 0.1);
}
.cardFooter {
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.editBtn {
  font-size: 13px !important;
  text-transform: capitalize !important;
  padding: 6px 16px !important;
}
.deleteIcon_grid {
  background-color: #ffe8ec !important;
  margin-left: 10px;
}
.deleteIcon_grid:hover {
  background-color: #fceef0 !important;
}
